<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <title>Title</title>
</head>
<header>
    <span id="time_keeper">Time Keeper</span>
    <ul id="nav">
        <li>
            <a th:href="@{/}">ホーム</a>
        </li>
        <li>
            <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
                <a th:href="@{/mypage/{username}/(username =${LoginList})}">マイページ</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">マイページ</a>
            </div>
        </li>
        <li>
            <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
                <a th:href="@{/logout}">ログアウト</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">ログイン</a>
            </div>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/createaccount}">会員登録</a>
        </li>
        <li>
            <a th:href="@{/jobHuntingTool}">便利機能</a>
        </li>
    </ul>
</header>
<body>
<div sec:authorize="hasRole('ADMIN')">
    <p><a th:href="@{/userlist}">ユーザーリスト</a></p>
</div>
<br>
<div id="main-table">
<table border="1" style="border-collapse:collapse;">
    <thead>
    <tr><th>ID</th><th>ユーザー名</th><th>科目</th><th>内容</th><th>時間</th><th>日付</th></tr>
    </thead>

    <tbody>
    <tr th:each="timelist : ${TimeList}">
        <td th:text="${timelist.timeKeepId}" height="50"></td>
        <td height="50"><a th:href="@{/mypage/{username}/(username=${timelist.username})}" th:text="${timelist.username}"></a></td>
        <td th:text="${timelist.subject}" height="50"></td>
        <td  th:text="${timelist.context}" height="50"></td>
        <td width="140">
            <span th:text="${timelist.hours}"></span>時間<span th:text="${timelist.minutes}"></span>分
        </td>
        <td width="300" th:text="${timelist.WhatDate}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>