<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="border-collapse:collapse;">
    <thead>
    <tr><th class="hidden">ID</th><th>ユーザー名</th><th>科目</th><th>内容</th><th>時間</th><th>日付</th></tr>
    </thead>

    <tbody>
    <tr th:each="timelist : ${TimeList}">
        <td th:text="${timelist.id}"></td>
        <td th:text="${timelist.username}"></td>
        <td th:text="${timelist.subject}"></td>
        <td th:text="${timelist.context}"></td>
        <td th:text="${timelist.totalTime}"></td>
        <td th:text="${timelist.Wdate}"></td>
    </tr>
    </tbody>
    <form method="post" action="/" th:action="@{/logout}">
        <button type="submit">ログアウトする</button>
    </form>

</table>
</body>
</html>