<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <title>Title</title>
</head>
<footer>
    <h2>Time Keeper</h2>
</footer>
<header>
    <ul id="nav">
        <li>
            <a th:href="@{/}">ホーム</a>
        </li>
        <li>
            <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
                <a th:href="@{/mypage/{username}/(username =${TimeList})}">マイページ</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">マイページ</a>
            </div>
        </li>
        <li>
            <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
                <a th:href="@{/logout}">ログアウト</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">ログイン</a>
            </div>
        </li>
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/createaccount}">会員登録</a>
        </li>
        <li>
            <a th:href="@{/jobHuntingTool}">便利機能</a>
        </li>
    </ul>
</header>
<body>
<table border="1" sytle="border-collapse:collapse;";>
       <thead>
       <br>
       <tr>
            <th>ID</th>
            <th>会社名</th>
            <th>職種</th>
            <th>企業の長所</th>
            <th>企業の短所</th>
            <th>給与等の待遇など</th>
            <th>福利厚生等</th>
            <th>採用フロー</th>
            <th>その他</th>
            <th>削除</th>
        </tr>
    <tbody>
        <tr th:each="companyDetail : ${CompanyDetail}">
            <td th:text="${companyDetail.companyDetail_id}"></td>
            <td th:text="${companyDetail.companyDetail_Cname}"></td>
            <td th:text="${companyDetail.company_whatJob}"></td>
            <td th:text="${companyDetail.company_strongPoint}"></td>
            <td th:text="${companyDetail.company_weakPoint}"></td>
            <td th:text="${companyDetail.company_treatment}"></td>
            <td th:text="${companyDetail.company_welfare}"></td>
            <td th:text="${companyDetail.company_flow}"></td>
            <td th:text="${companyDetail.company_another}"></td>
            <td><a th:href="@{/JobHuntingTool/deleteCompanyList/{id}/confirm/(id =${id})}">削除</a></td>
        </tr>
    </tbody>
</table>
       </thead>

    <a th:href="@{/jobHuntingTool/{companyName}/edit/(companyName =${companyName})}">編集・追加</a>
</body>
</html>