<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <title>Title</title>
</head>
<footer>
  <h2>Time Keeper</h2>
</footer>
<header>
  <ul id="nav">
    <li>
      <a th:href="@{/}">ホーム</a>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/mypage/{username}/(username =${TimeList})}">マイページ</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">マイページ</a>
      </div>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/logout}">ログアウト</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">ログイン</a>
      </div>
    </li>
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/createaccount}">会員登録</a>
    </li>
    <li>
      <a th:href="@{/jobHuntingTool}">便利機能</a>
    </li>
  </ul>
</header>
<body>
<br>
  <div class="company_form">
    <form th:action="@{/company_add}" method="post">
      <label>会社名</label>
      <input type="text" name="companyName" /><br>
      <label>業界</label>
      <input type="text" name="industry" /><br>
      <label>本社所在地</label>
      <input type="text" name="headlocate" /><br>
      <label>大阪事業所の有無</label>
      <input type="checkbox" name="areOsaka" /><br>
      <label>URL</label>
      <input type="text" name="CompanyURL" />
      <label>備考</label>
      <input type="text" name="companyLother" /><br>
      <button type="submit">登録</button>
    </form>
  </div>

<table border="1" style="border-collapse:collapse;">
  <thead>
  <tr>
    <th class="hidden">ID</th>
    <th>会社名</th>
    <th>業界</th>
    <th>本社所在地</th>
    <th>大阪事業所の有無</th>
    <th>URL</th>
    <th>備考</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="company : ${CompanyList}">
    <td th:text="${company.id}"></td>
    <td><a th:href="@{/jobHuntingTool/{companyName}/(companyName=${company.companyName})}" th:text="${company.companyName}"></a></td>
    <td th:text="${company.industry}"></td>
    <td th:text="${company.headlocate}"></td>
    <td th:text="${company.areOsaka} ? '有': '無'"></td>
    <td th:text="${company.CompanyURL}"></td>
    <td th:text="${company.companyLother}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>