<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <link th:href="@{/css/tab.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/tab.js}"></script>
  <title>Title</title>
</head>
<header>
  <ul id="nav">
    <li>
      <a th:href="@{/}">ホーム</a>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/mypage/{username}/(username =${LoginList})}">マイページ</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">マイページ</a>
      </div>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/logout}">ログアウト</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">ログイン</a>
      </div>
    </li>
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/createaccount}">会員登録</a>
    </li>
    <li>
      <a th:href="@{/jobHuntingTool}">便利機能</a>
    </li>
  </ul>
</header>
<body>
<p>登録していこう！</p>

<div class="tab" id="js-tab">
  <div class="tab-nav">
    <a href="" class="tab-nav-item is-active" data-nav="0">手入力</a>
    <a href="" class="tab-nav-item" data-nav="1">タイマー</a>
    <a href="" class="tab-nav-item" data-nav="2">ストップウォッチ</a>
  </div>
  <div class="tab-contents">
    <div class="tab-contents-item" data-content="0">
      <form th:action="@{/add}" method="post">
        <label>科目</label>
        <input name="subject" type="text"/>
        <label>内容</label>
        <input name="context" type="text" />
        <label>時間</label>
        <input name="totalTime" type="text" />
        <input type="submit" value="登録" />
      </form>
    </div>
    <div class="tab-contents-item" data-content="1">
      <form th:action="@{/add}" method="post">
        <label>科目</label>
        <input name="subject" type="text"/>
        <label>内容</label>
        <input name="context" type="text" />
        <label>時間</label>
        <input name="totalTime" type="text" />
        <input type="submit" value="登録" />
      </form>
    </div>
    <div class="tab-contents-item" data-content="2">
      <form th:action="@{/add}" method="post">
        <label>科目</label>
        <input name="subject" type="text"/>
        <label>内容</label>
        <input name="context" type="text" />
        <label>時間</label>
        <input name="totalTime" type="text" />
        <input type="submit" value="登録" />
      </form>
    </div>
  </div>
</div>


<table border="1" style="border-collapse:collapse;">
  <thead>
  <tr><th>ID</th><th>ユーザー名</th><th>科目</th><th>内容</th><th>時間</th><th>日付</th><th>編集</th></tr>
  </thead>

  <tbody>
  <tr th:each="timelist : ${PrincipalTimeList}">
    <td th:text="${timelist.timeKeepId}"></td>
    <td th:text="${timelist.username}"></td>
    <td th:text="${timelist.subject}"></td>
    <td th:text="${timelist.context}"></td>
    <td th:text="${timelist.totalTime}"></td>
    <td th:text="${timelist.WhatDate}"></td>
    <td><a th:href="@{/mypage/{username}/updatePage/{id}/(username=${LoginList}, id = ${timelist.timeKeepId})}">更新</a></td>
    <td><a th:href="@{/mypage/{username}/delete/{id}/(username=${LoginList}, id= ${timelist.timeKeepId})}">削除</a></td>
  </tr>
  </tbody>
</table>
  <script th:src="@{/js/tab.js}"></script>
</body>
</html>