<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/common.css}" rel="stylesheet">
  <title>Title</title>
</head>
<footer>
  <h2>Time Keeper</h2>
</footer>
<header>
  <ul id="nav">
    <li>
      <a th:href="@{/}">ホーム</a>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/mypage/{username}/(username =${LoginList})}">マイページ</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">マイページ</a>
      </div>
    </li>
    <li>
      <div sec:authorize="hasRole('ADMIN') or hasRole('GENERAL')">
        <a th:href="@{/logout}">ログアウト</a>
      </div>
      <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">ログイン</a>
      </div>
    </li>
    <li sec:authorize="isAnonymous()">
      <a th:href="@{/createaccount}">会員登録</a>
    </li>
    <li>
      <a th:href="@{/jobHuntingTool}">便利機能</a>
    </li>
  </ul>
</header>
<body>
<p>ようこそ</p>
ユーザー一覧
<table border="1" style="border-collapse:collapse;">
  <thead>
  <tr><th class="hidden">ID</th><th>メールアドレス</th><th>ユーザーネーム</th><th>パスワード</th><th>会員</th></tr>
  </thead>

  <tbody>
  <tr th:each="user : ${UserList}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.mailaddress}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.roleName}"></td>
  </tr>
  </tbody>
</table>

<form method="post" action="/" th:action="@{/logout}">
  <button type="submit">ログアウト</button>
</form>

</body>
</html>