<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mizut452.time_keeper.Mapper.RecordMapper">
    <select id="username" resultType="String">
        SELECT
            username
        FROM
            userlist

   </select>

   <resultMap id="userMap" type="Mizut452.time_keeper.Model.Entity.PostRecord">
    <result property="username" column="username"></result>
    </resultMap>

    </mapper>